<html>
<head>
    <title>Favourite fonts comparison</title>

    {% for font in fonts %}
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ font.urlName }}:{{ font.weights }}&subset=latin,latin-ext">
    {% endfor %}

    <script type="text/javascript" src="//code.jquery.com/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="fonts.js"></script>

    <style>
        body { font-family: "Open Sans" }
        a { color: #b30; text-decoration: none; }
        p { margin: 0px; padding: 0px 5px; }
        hr { border: 0px; height: 1px; background: #CCC; }
        .container { position: relative; clear: both; padding: 10px 0px; }
        .pill { color: #b30; background-color: #f9efe9; border-radius: 5px; padding: 7px 15px; }
        .pill.selected { color: #fff; background-color: #b30; }
        .fontname { font-family: "Open Sans" }
        .box { float: left; }
        .big { width: 35%; font-size: 32px; line-height: 36px; }
        .number { width: 15%; font-size: 32px; line-height: 36px; }
        .small { width: 25%; font-size: 14px; line-height: 18px; }
        .tiny { width: 25%; font-size: 10px; line-height: 12px; }
    </style>
</head>
<body>

<div class="container">
    {% for tag in tags %}
        <a href="" class="pill">{{ tag }}</a>
    {% endfor %}
</div>

{% for font in fonts %}
    <div class="container font-container" style="font-family: '{{ font.name }}'" data-tags="{{ font.tags|join(' ') }}">
        <div class="fontname"><a href="https://www.google.com/fonts/specimen/{{ font.urlName }}">{{ font.name }}</a></div>
        <div class="box big" >
            {% if font.hasTag('400') %}Hamburgefonstijvyffi<br>{% endif %}
            {% if font.hasTag('czech') %}Hámbůřgěfóňšťíjvý ąłęźż<br>{% endif %}
            {% if font.hasTag('400i') %}<em>Hamburgefonstijvyffi</em><br>{% endif %}
            {% if font.hasTag('700') %}<strong>Hamburgefonstijvyffi</strong><br>{% endif %}
        </div>

        <div class="box number">
            1234567890<br>
            1111111111<br>
            0000000000<br>
        </div>

        <div class="box small">
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>

        <div class="box tiny">
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>

{% endfor %}
</body>
</html>
